@import '../../styles/mixins/fonts-mixins.scss';

.customerTable {
  width: 100%;
  @include font-medium(14px);

  &_body {
    position: relative;
  }

  &_column {
    text-align: left;
    color: #B5B7C0;

    &-status {
      text-align: center;
      color: #B5B7C0;
    }
  }

  &_divider {
    padding-top: 14px;
    padding-bottom: 20px;

    &::after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #EEEEEE;
      width: 100%;
      left: 0;
    }
  }
}