@import '../../styles/mixins/fonts-mixins.scss';
@import '../../styles/mixins/screen-mixins.scss';

.customerTable {
  width: 100%;
  @include font-medium(14px);

  @include media-up-to(870px) {
    font-size: 12px;
    display: block;

    &_header {
      display: none;
    }
  }

  &_body {
    position: relative;

    @include media-up-to(870px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &_column {
    text-align: left;
    color: #B5B7C0;

    &-status {
      text-align: center;
      color: #B5B7C0;
    }
  }

  &_divider {
    display: block;
    padding-top: 14px;
    padding-bottom: 20px;

    &::after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #EEEEEE;
      width: 100%;
      left: 0;
    }

    &-td {
      display: none;
    }
  }
}