@import '../../styles/mixins/screen-mixins.scss';

.customerStatus {
  width: 80px;
  height: 29px;
  background-color: #16C09861;
  border: 1px solid #00B087;
  border-radius: 4px;
  padding: 4px 12px 4px 12px;

  color: #008767;

  display: flex;
  align-items: center;
  justify-content: center;

  @include media-up-to(870px) {
    width: 100%;
  }

  &--inactive {
    background-color: #FFC5C5;
    border: 1px solid #DF0404;
    color: #DF0404;
  }
}