.sideMenu {
  max-width: 306px;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  padding: 36px 28px 76px 28px;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  display: none;
}